.padding{
    padding: 1rem;
}
.toolbar{
    background-color:#37a0f1;
    height:40px;
    color:white;
    padding: 12px;
}
.productPic{
    height: 150px;
    width: 150px;
    padding-top: 26px !important;
    margin: auto;
   
}
.cards{
    height: 350px;
    width: 400px;
    text-align: center;
}
agm-map {
    height: 400px;
}