<div class="container-fluid">

</div><div *ngIf="message">
  {{message}}
</div>
<div class="container">
  <div class="input-group padding">
    <span class="input-group-addon" id="basic-addon1" style="width: 37px">+91</span>
    <input class="padding-side" type="text"  style="width: 200px !important" class="form-control"  aria-describedby="basic-addon1"  placeholder="Mobile/Email" [(ngModel)]="sigin.MobileNumber" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="input-group padding">
      <span class="input-group-addon" id="basic-addon1" style="width: 37px;"><i class="fa fa-key" aria-hidden="true"></i></span>
      <input class="padding-side" type="text"  style="width: 200px !important" class="form-control"  aria-describedby="basic-addon1"  placeholder="Password" [(ngModel)]="sigin.Password" [ngModelOptions]="{standalone: true}">
    </div>
  
    <div fxLayout="row" fxLayoutAlign="end end">
    <button  type="submit" class="btn btn-primary padding" (click)="signIn()" style="padding-left:12px">Sign In</button>
    </div>
    
</div>
    


